.additem{
    background-color: #F4FEFD;
    border-color: #F4FEFD;
    border-width: 2px;
    padding: 10px 5px;
    border-radius: 0 0 5px 5px;
}

.additem::placeholder{
    color: #1B2223;
}

.additem input {
    padding: 10px;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

.additem button {
    padding: 11px;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: all 0.3s;
    border-color: #3A4F50;
    color: #F4FEFD;
    background-color: #3A4F50;
}

.additem button:hover {
    background-color: #192122;
    border-color: #192122;
}

