@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #c0cbf0;
    font-family: 'Roboto', sans-serif;
}

.app {
    margin: 20px auto;
    padding: 0;
    width: 300px;
    background-color: #0ef6cc;
    border-radius: 5px;
}